﻿body h1 {
    background-color: aquamarine;
}

body .top-bar {
    background-color: blanchedalmond;
}

    body .top-bar .main-bar {
        width: 80%;
        background-color: lightpink;
        margin: auto;
        display: flex;
    }
        body .top-bar .main-bar .contact-left {
            width: 50%;
            background-color: palegreen;
        }
        body .top-bar .main-bar .login-right {
            width: 50%;
            background-color: cadetblue;
        }